* {
    margin: 0; /*внешний отступ (строк, рамки от другого текста)*/
    padding: 0; /*внутренний отступ (рамки от текста внутри)*/
}


#p1 {
    font-size: 30px; /* меняем размер шрифта*/
    color: rgb(128, 0, 0);
}
.p2 {
    background-color: greenyellow ; /* меняем цвет заднего фона */

    width: 400px; /*указываем размер заднего фона*/
    color:blue;
}
.p3 {
    font-size: 30px; /* меняем размер шрифта*/
    color: brown; 
    border: 4px solid black; /*размер толщины рамки*/
    width: 600px; /*ширина элемента(рамки)*/
    padding: 20px 10px 50px 130px; /*отступ внутренний от текста*/
    margin: 100px;    
    }
.bold:hover{ /*hover псевдокласс, жирность исчезла, но появляется при наведении курсора*/
    
    font-weight: 900;
    }
.red {
    color: red;
    }
.blue {
    color: blue;
}
    