#main .heading {
    border: 2px solid rgb(77, 22, 117);
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 25px;
    text-align: center;
    background-color: rgba(113, 166, 195, 0.82);
}

h1, p {
    width: 750px;
}
ul, li {
    list-style-type: square;
}
b {
    color: blueviolet;
}
